<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>
<body>
	<table style="width:500px;font-family: arial;font-size: 12px;">
		<tr>
			<td><img src="http://nufarm-maxx.com/marketingNet/imagenes/mail-top-02.png" alt="Nufarm Maxx Top" /></td>
		</tr>
		<tr>
			<td>
				<div style="width:360px;padding-left: 72px;">
					<p style="margin: 0;">Cliente: {{nombre}}, {{apellido}}</p>
					<p style="margin: 0;">Fecha: {{fecha}}</p>
				</div>
			</td>
		</tr>
		<tr>
			<td>

				<div style="width:360px;padding-left: 72px;">
					<img style="float:left;" src="http://nufarm-maxx.com/marketingNet/imagenes/arrow-06.png"/>
					<p style="margin: 3px;margin-top: 10px;">{{mensaje}}</p>
				</div>
				
			</td>
		</tr>
		<tr>
			<td>
				<div style="width:400px;padding-left: 72px;padding-top: 40px;">
					<img style="float:left" src="http://nufarm-maxx.com/marketingNet/imagenes/attention-07.png"/>
					<p style="float:left;margin: 0;padding-top: 5px;padding-left: 5px;"><a href="http://nufarm-maxx.com/" style="text-decoration: none;color: #008A39;font-weight: bold;">nufarm-maxx.com</a></p>
				</div>
			</td>
		</tr>
		<tr>
			<td><img src="http://nufarm-maxx.com/marketingNet/imagenes/mail-footer.png" alt="Nufarm Maxx Bottom" /></td>
		</tr>
	</table>
</body>
</html>




